<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>phuongnt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>phuongnt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>phuongnt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsersController</servlet-name>
        <servlet-class>phuongnt.controllers.ViewUsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRolesController</servlet-name>
        <servlet-class>phuongnt.controllers.ViewRolesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolesDAO</servlet-name>
        <servlet-class>phuongnt.roles.RolesDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPromotionsController</servlet-name>
        <servlet-class>phuongnt.controllers.ViewPromotionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserController</servlet-name>
        <servlet-class>phuongnt.controllers.InsertUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>phuongnt.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewUsersController</servlet-name>
        <servlet-class>phuongnt.controllers.AdminViewUsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserController</servlet-name>
        <servlet-class>phuongnt.controllers.ShowUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>phuongnt.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsersController</servlet-name>
        <servlet-class>phuongnt.controllers.SearchUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsersController</servlet-name>
        <url-pattern>/ViewUsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRolesController</servlet-name>
        <url-pattern>/ViewRolesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolesDAO</servlet-name>
        <url-pattern>/RolesDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPromotionsController</servlet-name>
        <url-pattern>/ViewPromotionsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserController</servlet-name>
        <url-pattern>/InsertUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewUsersController</servlet-name>
        <url-pattern>/AdminViewUsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserController</servlet-name>
        <url-pattern>/ShowUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsersController</servlet-name>
        <url-pattern>/SearchUsersController</url-pattern>
    </servlet-mapping>
</web-app>
